In [7]:
!pip install pandas

import os
import pandas as pd
os.chdir('../BlackbirdDatasetData')

print("done")

Requirement already satisfied: pandas in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /home/aryanroy/miniconda3/envs/imagebind/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
done

In [9]:
def find_closest_timestamp(target, timestamps):
    """
   
    """
    n = len(timestamps)
    left, right = 0, n - 1
    
    if target <= timestamps[left]:
        return left
    if target >= timestamps[right]:
        return right
    

    while left <= right:
        mid = left + (right - left) // 2
        if timestamps[mid] == target:
            return mid
        elif target < timestamps[mid]:
            right = mid - 1
        else:
            left = mid + 1
    
   
    if abs(target - timestamps[left]) < abs(target - timestamps[right]):
        return left
    else:
        return right

In [16]:
df = pd.read_csv("ampersand/yawForward/maxSpeed2p0/csv/blackbird_slash_imu.csv")
print(df.shape)

df_new = df[['rosbagTimestamp', 'x.1', 'y.1', 'z.1', 'x.2', 'y.2', 'z.2']]
df_new

(26818, 23)

,rosbagTimestamp,x.1,y.1,z.1,x.2,y.2,z.2
0,1534109177595045000,-0.008649,-0.001554,-0.004707,-0.033402,0.074667,-9.743565
1,1534109177605052000,-0.009067,-0.001133,-0.002173,-0.049817,0.076040,-9.765403
2,1534109177615351000,-0.010037,-0.000604,-0.002709,-0.039370,0.071830,-9.749911
3,1534109177625700000,-0.006735,0.000170,-0.003779,-0.053559,0.075601,-9.737576
4,1534109177638407000,-0.007260,-0.001319,-0.004831,-0.051046,0.062624,-9.761662
...,...,...,...,...,...,...,...
26813,1534109445882826000,-0.010435,-0.001710,-0.002186,0.019678,-0.117366,-9.780371
26814,1534109445892932000,-0.008345,-0.000231,-0.003669,0.013543,-0.137790,-9.761053
26815,1534109445903401000,-0.007699,-0.001405,-0.003395,-0.004269,-0.120730,-9.749159
26816,1534109445912780000,-0.010007,-0.001677,-0.002234,0.016815,-0.134791,-9.755929
26817,1534109445923367000,-0.009063,-0.000235,-0.003935,0.014276,-0.141163,-9.777350

In [13]:

start, end, step = 1534109177000000000, 1534109445000000000, 100000000


lol = range(start, end, step)


df_lol = pd.DataFrame({'TimeStamp': lol})

In [18]:


df_new['rosbagTimestamp'] = df_new['rosbagTimestamp'].astype(int)


df_lol = df_lol.sort_values(by='TimeStamp')


timestamps = df_lol['TimeStamp'].values


closest_indices = [find_closest_timestamp(ts, timestamps) for ts in df_new['rosbagTimestamp'].values]


mapped_rows = df_lol.iloc[closest_indices]
df_new = df_new.reset_index(drop=True)
mapped_rows = mapped_rows.reset_index(drop=True)
df_combined = pd.concat([df_new, mapped_rows], axis=1)

print(df_combined.shape)

(26818, 8)

In [21]:

df_combined.to_csv('exported_dataframe.csv', index=False, encoding='utf-8')